.about_main_inner_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_left_side_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  animation: floatAnimation 3s ease-in-out infinite;
}

.about_left_side_container img {
  width: 80%;
}

/* Image animation__ */

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.about_right_side_container {
  width: 50%;
  padding-right: 50px;
}

.about_right_side_container p {
  color: #4d4770;
  font-weight: 700;
  margin-bottom: 20px;
}

.about_right_side_container h1 {
  color: #12084f;
  font-weight: 800;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.about_right_side_container h2 {
  color: #413972;
  font-weight: 600;
  margin-bottom: 20px;
}

.about_right_side_container button {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7537f6;
  font-weight: 600;
  text-decoration: underline;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .about_right_side_container h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .about_left_side_container img {
    width: 100%;
  }

  .about_right_side_container p {
    font-size: 14px;
  }

  .about_right_side_container h1 {
    font-size: 2.5rem;
  }

  .about_right_side_container h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .about_main_inner_container {
    gap: 20px;
    flex-direction: column-reverse;
  }

  .about_left_side_container {
    width: 100%;
  }

  .about_right_side_container {
    width: 100%;
  }

  .about_left_side_container img {
    width: 80%;
  }

  .about_right_side_container h1 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 640px) {
  .about_right_side_container {
    padding-right: 0;
  }

  .about_left_side_container img {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .about_right_side_container h1 {
    font-size: 2rem;
  }
}
