.main_banner_container {
  margin: auto;
  margin-top: 70px;
  max-width: 1536px;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_left_side_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
  padding-left: 30px;
}

.banner_left_content p {
  color: #7177b0;
  font-weight: 700;
  padding-bottom: 30px;
}

.banner_left_content h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #12084f;
  line-height: 100px;
  padding-bottom: 20px;
}

.banner_left_content h1 span {
  color: #016bff;
}

.banner_left_content h2 {
  color: #12084f;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
}

.banner_left_content button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #016bff;
}

.banner_left_content button:hover {
  background-color: #0261e6;
}

.banner_right_side_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
  padding-right: 15px;
  animation: floatAnimation 3s ease-in-out infinite;
}

/* Image animation__ */

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive style__ */

@media screen and (max-width: 1536px) {
  .banner_left_content h1 {
    font-size: 4rem;
  }

  .banner_left_content button {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 1280px) {
  .banner_left_content p {
    font-size: 14px;
  }

  .banner_left_content h1 {
    font-size: 3.5rem;
  }

  .banner_left_content h2 {
    font-size: 18px;
  }

  .banner_left_content button {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .banner_left_side_container {
    width: 50%;
  }

  .banner_right_side_container {
    width: 50%;
  }

  .banner_left_content h1 {
    font-size: 3rem;
  }

  .banner_left_content h2 {
    font-size: 16px;
  }

  .banner_left_content button {
    padding: 8px 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .main_banner_container {
    gap: 50px;
    flex-direction: column;
    line-height: normal;
    height: auto;
  }

  .banner_left_side_container {
    width: 100%;
    margin-top: 50px;
  }

  .banner_right_side_container {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .banner_left_side_container {
    padding-left: 20px;
  }

  .banner_left_content h1 {
    font-size: 2.2rem;
    line-height: 70px;
  }
}

/* Second section style__ */

.main_about_container {
  margin: auto;
  padding: 0 10px;
  max-width: 1530px;
  margin-top: 100px;
}
