footer {
  margin-top: 100px;
  padding: 100px 30px;
  color: #ffffff;
  background-color: #02132b;
}

.main_footer_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1536px;
  margin: auto;
}

/* _____ */

.footer_logo_container {
  width: 20%;
}

.footer_logo_inner_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: #016bff;
  margin-bottom: 30px;
}

.footer_logo_container img {
  width: 50px;
}

.footer_logo_container span {
  font-size: 1.8rem;
  font-weight: 800;
}

.footer_logo_container h2 {
  color: #ebebeb;
}

/* _____ */

.footer_menu_container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer_menu_container ul li {
  width: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer_menu_container ul li:hover {
  transition: 0.2s ease-in;
  text-decoration: underline;
  padding-left: 5px;
}

/* _____ */

.footer_contact_container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer_contact_container ul li {
  width: 140px;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer_contact_container ul li:nth-child(3) {
  font-family: Arial, sans-serif;
}

.footer_contact_container ul li:hover {
  transition: 0.2s ease-in;
  text-decoration: underline;
  padding-left: 5px;
}

/* _____ */

.footer_social_contact_container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer_social_contact_container ul li:nth-child(1) {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer_social_contact_container ul li:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

/* _____ */

.footer_copyright_container {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 18px;
}

.footer_copyright_container span {
  text-decoration: underline;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .footer_logo_container {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .main_footer_container {
    gap: 10px;
  }

  .footer_logo_container {
    width: 35%;
  }

  .footer_logo_container img {
    width: 40px;
  }

  .footer_logo_container span {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .footer_logo_container h2 {
    font-size: 14px;
  }

  .footer_menu_container h2 {
    font-size: 18px;
  }

  .footer_contact_container h2 {
    font-size: 18px;
  }

  .footer_social_contact_container h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .main_footer_container {
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
  }

  #container-1 {
    grid-column: 1 / -1;
  }

  .footer_logo_container {
    width: 100%;
  }

  #container-2 {
    grid-column: span 5;
  }

  #container-3 {
    grid-column: span 5;
  }

  #container-4 {
    grid-column: span 5;
  }
}

@media screen and (max-width: 475px) {
  .footer_menu_container h2 {
    font-size: 16px;
  }

  .footer_contact_container h2 {
    font-size: 16px;
  }

  .footer_social_contact_container h2 {
    font-size: 16px;
  }
}
